#link {
	position: relative;
	width: 19px;
	height: 24px;
	background: url('../img/thelegendofzeldalinktothepast_link_sheet.png') -241px -120px;
	transform: scale(1.5);
	animation: walk .3s steps(6) infinite;
	
}
@keyframes walk {
  0% { background-position: -241px -120px}
  
  100% { background-position: -421px -120px}
}
#linkContainer{
	position: relative;
	top: 300px;
	left: -30px;
	width: 28.5px;
	height: 30px;
	animation: move 3s linear infinite;
}

@keyframes move{
  0% { left: 0px }

  100%{ left: 480px }
}


#fondo{
	margin: auto;
	width: 500px;
	height: 500px;
	background: url('../img/fondo.png') no-repeat;
	overflow: hidden;
}
#triforce {
	background: url('../img/tumblr_mgdy36Wlhl1rk1osuo1_250.gif') no-repeat -80px -63px;
	width: 100px;
	height: 100px;
	transform: scale(0);
	animation: appear 10s ease-in-out 2;
}

@keyframes appear{
	0%{ transform: scale(0); }
	25%{ transform: scale(0.25); }
	50%{ transform: scale(0.5); }
	75%{transform: scale(0.25);}
	100%{ transform: scale(0); }
}

#keese {
	background: url('../img/keese1Original.PNG') no-repeat -10px -22px;
	width: 20px;
	height: 13px;
	transform: scale(1.5);
	animation: volant .3s steps(1) infinite;

}

@keyframes volant{
	0%{ background-position: -10px -22px }
	25%{ background-position: -30px -23px }
	50%{ background-position: -52px -22px }
	75%{ background-position: -78px -19px }
}
#keeseContainer{
	position: relative;
	left: -50px;
	animation: movimentBat 10s ease-in infinite;
}
@keyframes movimentBat{
	0%{ left: -20px; top: 20px; }
	10%{ left: 30px; top: 20px; }
	20%{ left: 60px; top: 30px;}
	30%{ left: 90px; top: 40px; }
	40%{ left: 120px; top: 50px; }
	50%{ left: 150px; top: 40px; }
	60%{ left: 120px; top: 20px;}
	70%{ left: 90px; top: 30px; z-index: 4}
	80%{ left: 60px; top: 20px;}
	90%{ left: 30px; top: 30px;}
	100%{ left: -30px; top: 30px;}
}
#cloud{
	position: relative;
	background: url('../img/cloud.png') no-repeat -1px -25px;
	width: 127px;
	height: 63px;
	opacity: 0;
	z-index: 3;
	left: 50px;
	animation: apareixer 8s ease-out infinite;
}
@keyframes apareixer{
	0%{ opacity: 0 }
	20%{ opacity: 0.2 }
	50%{ opacity: 0.8 }
	80%{ opacity: 0.2 }
}
#sun {
	position: relative;
	background: url('../img/Sun-PNG-Picture.png') no-repeat -1px -1px;
	width: 556px;
	height: 556px;
	transform: scale(0.1);
	top: -400px;
	left: 50px;
	opacity: 0.5;
	animation: girant 5s linear infinite;
}
@keyframes girant{
	0%{ transform: rotate(0deg) scale(0.1); }
	50%{ transform: rotate(180deg) scale(0.2);}
}